node_modules
.pnpm-store
.git
.gitignore
apps/*/node_modules
apps/*/dist
apps/*/.next
apps/*/tsconfig.tsbuildinfo
packages/*/node_modules
packages/*/dist
*.log
apps/frontend/.env.local
apps/frontend/.next
